MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_SHORT_CODE=174379
MPESA_PASS_KEY=your_pass_key
# Must be publicly reachable HTTPS URL ending with /callback
# Render example: https://stk-push-api-4flq.onrender.com/callback
MPESA_CALLBACK_URL=https://your-app.onrender.com/callback
MPESA_ENV=sandbox
FIREBASE_SERVICE_ACCOUNT_PATH=./smart-chama-5ecaf-firebase-adminsdk-fbsvc-467347eff7.json
PORT=3000
